﻿@using System.Web;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    string url = Context.Request.Path;

    string headerSuffix = "";
    string headerSuffixPrefix = " | ";

    if (url.Contains("Admin"))
    {
        headerSuffix = headerSuffixPrefix + "Admin Panel";
    }
    else if (url.Contains("Panel"))
    {
        headerSuffix = headerSuffixPrefix + "Panel";
    }
    else if (url.Contains("Manage"))
    {
        headerSuffix = headerSuffixPrefix + "Profile";
    }
    else if (url.Contains("Pricing"))
    {
        headerSuffix = headerSuffixPrefix + "Pricing";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Bitman Helps</title>

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B75VN4Z32L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-B75VN4Z32L');
    </script>

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css?v=3" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css?v=2" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .container {
            max-width: 80%;
        }
    </style>

</head>
<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/#page-top"><img src="~/assets/img/logos/bitman-white.png" alt="" /><span class="h3 text-muted">@headerSuffix</span></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars ml-1"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-link" asp-area="" asp-page="/Pricing/Index">Pricing</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {

                        <li class="nav-item">
                            <a class="nav-link btn btn-link" asp-area="" asp-page="/Panel/Index">Panel</a>
                        </li>

                        if (User.FindFirstValue(ClaimTypes.NameIdentifier) == "16506101-9756-430f-9f4e-aceb90b2af4a")
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-link" asp-area="" asp-page="/Panel/Admin/Index">Admin Panel</a>
                            </li>
                        }

                        // @User.Identity.Name
                        <li class="nav-item">
                            <a class="nav-link btn btn-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
                        </li>

                        <li class="nav-item">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" class="nav-link btn btn-link">LOGOUT</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        // <li class="nav-item">
                        //     <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        // </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <p>Copyright © Bitman Helps 2021</p>
            <p><a href="#!">Privacy Policy</a> | <a href="#!">Terms of Use</a></p>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!-- Contact form JS-->
    <script src="~/assets/mail/jqBootstrapValidation.js"></script>
    <script src="~/assets/mail/contact_me.js"></script>

    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>

    <!-- ASP.NET JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
