﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Panel/Index">Panel</a>
        </li>

        if (User.FindFirstValue(ClaimTypes.NameIdentifier) == "58f5f189-2ffb-4fc1-bd02-aeafac96101a")
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/AdminPanel/Index">Admin Panel</a>
            </li>
        }

        // @User.Identity.Name
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        // <li class="nav-item">
        //     <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        // </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-page="/Account/Login">Login</a>
        </li>
    }
