﻿@page
@model bitmanhelps_web_functional.Pages.Panel.Groups.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Groups Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelPanelGroups.GroupName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelPanelGroups.GroupName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ModelPanelGroups.GroupId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
