﻿@page
@model bitmanhelps_web_functional.Pages.Panel.IndexModel
@{
}
<header class="masthead">
<h1>Admin Panel</h1>
</header>
<style>
    .masthead{

    }
    body {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .container {
        width: 5000px;
        height: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        display: grid;
    }
</style>
<br>
<div class="container">
    <a href="/Panel/Groups" class="btn btn-danger btn-block" style="width: 1000px; margin-left:auto;">Groups</a>  
    <a href="/Panel/Credentials" class="btn btn-danger btn-block" style="width:1000px; margin-left:auto;">Credentials</a>
</div>
<!--<a href="/Panel/Admin" class="btn btn-primary btn-block">Admin</a>-->
<!--<p>Create cred</p>
<p>Display the users Groups   #  'Group'  Select | Edit | Delete   # </p>
<p>         -> display the credentials for said group ##  'Credential' Edit | Details | Delete   ##</p>
-->