﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/login-style.css">
</head>

<body class="my-login-page">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="card-wrapper">
                <div style="padding-bottom: 10%">
                    <img src="~/assets/img/logos/bitman-black.png" class="img-fluid" alt="logo">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <form method="POST" class="my-login-validation" novalidate="">
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>

                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block" id="login">Login</button>
                                <br/>
                                <p class="text-center">
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Signup</a>
                                    <a> | </a>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot password</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/my-login.js"></script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>