﻿@page
@model bitmanhelps_web_functional.Pages.Panel.Credentials.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ModelPanelCredentials</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelPanelCredentials.Application)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelPanelCredentials.Application)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelPanelCredentials.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelPanelCredentials.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelPanelCredentials.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelPanelCredentials.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ModelPanelCredentials.CredId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
