﻿@page
@model bitmanhelps_web_functional.Pages.Panel.Credentials.IndexModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Credentials";
}

<h1>Credentials</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Group
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelPanelCredentials[0].Application)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelPanelCredentials[0].Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelPanelCredentials[0].Password)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ModelPanelCredentials)
        {
            var user = await UserManager.GetUserAsync(User);
            var userId = user?.Id;
            if (item.UserId?.Id == userId || userId == "16506101-9756-430f-9f4e-aceb90b2af4a")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupId.GroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Application)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.CredId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.CredId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.CredId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
