﻿@page
@model bitmanhelps_web_functional.Pages.Pricing.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete Service</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelServices.ServiceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelServices.ServiceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelServices.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelServices.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelServices.CredMin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelServices.CredMin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelServices.CredMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelServices.CredMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelServices.ServiceBranding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelServices.ServiceBranding)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ModelServices.ServiceId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
