﻿@page
@model bitmanhelps_web_functional.Pages.Pricing.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Service Pricing Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelServices.ServiceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelServices.ServiceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelServices.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelServices.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelServices.CredMin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelServices.CredMin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelServices.CredMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelServices.CredMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelServices.ServiceBranding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelServices.ServiceBranding)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ModelServices.ServiceId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
