﻿@page
@model bitmanhelps_web_functional.Pages.Pricing.IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var user = await UserManager.GetUserAsync(User);
    var userId = user?.Id; }

        <header>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css?v=2">
            <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700'>
            <link rel="stylesheet" href="~/css/pricing-style.css">
        </header>
        <style>
            .background {
                z-index: 10;
                padding-top: 300px;
            }
        </style>
        <body>
            <h1>Service Pricing</h1>
            <div class="background">

                <div class="container">
                    <br>
                    @{
                        if (userId == "16506101-9756-430f-9f4e-aceb90b2af4a")
                        {
                            <p>
                                <a asp-page="Create">Create New</a>
                            </p>
                        }
                    }
                    <br>
                    <div class="panel pricing-table">
                        @foreach (var item in Model.ModelServices)
                        {
                            <div class="pricing-plan">
                                <img src="@Html.DisplayFor(modelItem => item.ServiceBranding)" alt="" class="pricing-img">
                                <h2 class="pricing-header">@Html.DisplayFor(modelItem => item.ServiceName)</h2>
                                <ul class="pricing-features">
                                    <li class="pricing-features-item">Create up to @Html.DisplayFor(modelItem => item.CredMax) users</li>
                                    <li class="pricing-features-item">@Html.DisplayFor(modelItem => item.CredMin) minimum buy order</li>
                                </ul>
                                <span class="pricing-price">@Html.DisplayFor(modelItem => item.Price) CAD</span>
                                <br />
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="FAXXWY8ZPESCL">
                                    <input type="image" src="https://lh3.googleusercontent.com/ClUCZelwwo4i3NYv0vcrXkpTZl3Tx2bqTCfXrL3tlMHWWyrmyaEGyzBEax3t2YbrjdKoUFA=s170" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                </form>

                                <!--<a href="/Payments/Index" class="btn btn-primary btn-block">Sign up</a>-->
                                <br>
                                @{
                                    if (userId == "16506101-9756-430f-9f4e-aceb90b2af4a")
                                    {
                                        <a asp-page="./Edit" asp-route-id="@item.ServiceId">Edit</a>
                                        <a asp-page="./Details" asp-route-id="@item.ServiceId">Details</a>
                                        <a asp-page="./Delete" asp-route-id="@item.ServiceId">Delete</a>
                                        <br>
                                    }

                                }
                            </div>
                        }
                    </div>
                </div>
            </div>

        </body>

