﻿@page
@model bitmanhelps_web_functional.Pages.Payments.IndexModel

@{
    ViewData["Title"] = "Index";
}
    <h1>Checkout</h1>
    <br>
    <h5>Thank you for choosing Bitman Helps! We just need to grab a few details before placing your order.</h5>
<main class="mt-5 pt-4">
    <div class="container wow fadeIn">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-8 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    <form class="card-body">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--firstName-->
                                <div class="md-form ">
                                    <label for="firstName" class="">First Name</label>
                                    <input type="text" id="FirstName" name="FirstName"  class="form-control" required pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Please input a proper name')">
                                </div>

                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--lastName-->
                                <div class="md-form">
                                    <label for="lastName" class="">Last Name</label>
                                    <input type="text" id="LastName" name="LastName" class="form-control" required pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Please input a proper name')">
                                </div>

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->
                        <!--email-->
                        <div class="md-form mb-5">
                            <label for="email" class="">Email</label>
                            <input type="email" id="Email" name="Email" class="form-control" required placeholder="youremail@example.com" oninvalid="this.setCustomValidity('Please input a proper email')">
                        </div>

                        <!--address-->
                        <div class="md-form mb-5">
                            <label for="address" class="">Address</label>
                            <input type="text" id="PrimaryAddress" name="PrimaryAddress" class="form-control" placeholder="1234 Main St">
                        </div>

                        <!--address-2-->
                        <div class="md-form mb-5">
                            <label for="address-2" class="">Address 2 (optional)</label>
                            <input type="text" id="SecondaryAddress" name="SecondaryAddress" class="form-control" placeholder="Apartment or suite">
                        </div>

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">

                                <label for="country">Country</label>
                                <select class="custom-select d-block w-100" sp-for="Country" id="country" name="country" asp-items="Model.Countries" required></select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>

                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">

                                <label for="state">State/Province</label>
                                <select class="custom-select d-block w-100" sp-for="Province" id="state" name="state" asp-items="Model.Provinces" required></select>
                                <div class="invalid-feedback">
                                    Please provide a valid state/province.
                                </div>

                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">

                                <label for="zip">Zip</label>
                                <input type="text" class="form-control" id="PostalCode" name="PostalCode" placeholder="" required>
                                <div class="invalid-feedback">
                                    Zip code required.
                                </div>

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <hr>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="same-address">
                            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="save-info">
                            <label class="custom-control-label" for="save-info">Save this information for next time</label>
                        </div>

                        <hr>

                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                <label class="custom-control-label" for="credit">Credit card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="debit">Debit card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="CardName">Name on card</label>
                                <input type="text" class="form-control" id="CardName" name="CardName" placeholder="Malcolm Ferrier" pattern="^[A-Za-z]+$" required oninvalid="this.setCustomValidity('Please input a proper name')">
                                <small class="text-muted">Full name as displayed on card</small>

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="CardNumber">Credit card number</label>
                                <input type="text" class="form-control" id="CardNumber" name="CardNumber" placeholder="Do not put space between the numbers" minlength="16" pattern="[0-9]+" required oninvalid="this.setCustomValidity('Please enter your full 16-digit credit card number')">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="ExpDate">Expiration</label>
                                <input type="date" class="form-control" id="ExpDate" name="ExpDate" placeholder="" required>
    
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="CVV">CVV</label>
                                <input type="number" class="form-control" id="CVV" name="CVV" placeholder="437" maxlength="3" pattern="[0-9]+" required oninvalid="this.setCustomValidity('Please enter the proper 3-digit number behind your card')">
        
                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Place an Order</button>

                    </form>

                </div>
                <!--/.Card-->

            </div>
            

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

</main>
