﻿@model IEnumerable<bitmanhelps_web_functional.Models.ModelPanelCredentials>

@{
    ViewData["Title"] = "Credentials";
}

<h1>Credentials</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           <td>
               @Html.DisplayNameFor(model => model.CredId)
           </td>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CredId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.GroupId)
             </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CredId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CredId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CredId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
